{% extends "pathfinder/base.html" %}

{% block title %}
<h1>Loot for Level {{ level }}</h1>
<title>Loot for Level {{ level }}</title>
{% endblock %}

{% block subnav %}
<div id="subnav">
    {% with prev=level|add:"-1" next=level|add:1 %}
    <a href="{% url 'loot' prev %}">Prev Level</a> | <a href="{% url 'loot' next %}">Next Level</a>
    {% endwith %}
</div>
{% endblock %}

{% block content %}

<h2>Gold</h2>
{{ gold.rewarded }} / {{ gold.total }}

{% include "pathfinder/partials/lootlist.html" with list_title="Permament" loot_list=perms %}
{% include "pathfinder/partials/lootlist.html" with list_title="Consumable" loot_list=consumables %}

{% endblock %}